{% extends 'base.html' %}



    {% block content %}
        <div class="row" id="tree"></div>
    {% endblock %}
    
    {% block script %}
        <script>
            $(function () {
                var fillTree = function() {
                    var url = 'show_tree/',
                        data = {};
                    var dataFromServer = {};
    
                    $.get(url, data, function(treeData) {
                        $('#tree').jstree(treeData);
                    });
                };
    
                fillTree();
            });
        </script>
    {% endblock %}
