{% extends 'workers/base.html' %}



{% block includes %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
    <div>
        <table id="workers-table" >
                <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Salary</th>
                            <th>Employment date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Salary</th>
                            <th>Employment date</th>
                        </tr>
                    </tfoot>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script> 
        $(function () {
            $('#workers-table').dataTable({
                ajax: {
                    url: 'workers_table/',
                    dataSrc: 'data'
                },
                "columns": [
                    { 
                        "data": "Name", 
                    },
                    {   
                        "data": "Position" 
                    },
                    {
                        "data": "Salary"
                    },
                    { 
                        "data": "Employment date"
                    }
                ]
            });
        });
    </script>
{% endblock %}